 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

/* font-family: 'Amatic SC', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Mate SC', serif;
font-family: 'Playfair Display SC', serif;



*/

.slider_content{
  height: 95vh;
  width: 100%;
 /* padding-top: -80rem; */
  position: relative;

}
  .myimage{
 
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: grab;
}

.caption{
 
  position: absolute;
  /* z-index: 5; */
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .32);
 
  justify-content: center;
  cursor: grab ;
}

.caption h1{

  text-transform: uppercase;
  font-size: 3.1rem;
  letter-spacing: .2rem;
 
  font-family: 'Playfair Display SC', serif;
  /* font-weight: 300; */
  margin-top: 4rem;
  text-align: center;
}

.caption p{

  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  /* text-shadow: rgb(201, 201, 201) 0.1em 0.1em 0.2em; */
  letter-spacing: .1rem;
 
}


.caption .button{
/* background-color: rgb(216, 179, 67); */

background-color: rgb(194, 159, 56);
/* text-shadow: rgb(52, 52, 52) 0.1em 0.1em 0.2em; */
font-family: 'Poppins', sans-serif;
}



.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: -15px;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 1.25;
  color: rgb(255, 255, 255);
  color:#c68920;
 
 }
 .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #eda425;
}
